<h1>Those are the people from {{city}} who participated in the petition</h1>

{{#listOfParticipants}}

    <p><a href="{{ url }}">{{ first_name }} {{ last_name }}</a>, {{ age }}</p>

{{/listOfParticipants}}
