<div class="participants">

    <h1>Those are the people who participated in the petition</h1>

    {{#listOfParticipants}}

    <p>

    {{#if url}}

        <a href="{{ url }}">{{ first_name }} {{ last_name }}</a>

    {{ else }}

        {{ first_name }} {{ last_name }}

    {{/if }}

    {{#if age}}

        || {{ age }}

    {{/if }}

    {{#if city}}

        || <a href="/participants/{{ city }}">{{ city }}</a>

    {{/if }}

    </p>

    {{/listOfParticipants}}

</div>
